@import "utilities.css";

:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --tenary: #898989;
  --light: #f2f2f2;
  --secondary: #070606;
}

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smotting: antialiased;
}

header {
  background: var(--dark);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 70% 90%, 0 100%);
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
}

header nav .left a:hover {
  color: var(--primary);
  transition: all 2s ease;
  font-size: 2rem;
}

.branding h2 span {
  color: var(--tenary);
}

header nav {
  margin: 1rem 0;
}

header nav .branding {
  margin-right: 3rem;
}
header nav a {
  margin-right: 3rem;
}

.hero .left img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border-color: #f2f2f2 3px solid;
}

.hero .left {
  color: var(--pure);
  padding: 2rem;
}
.hero {
  padding: 3rem 0;
}

.hero .left h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

.hero .right h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 100;
  line-height: 1.2;
}
.hero .left h1 span {
  color: var(--primary);
}
.hero .left p {
  line-height: 1.9;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.hero .left {
  margin-top: -2rem;
}

.about-image img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

section {
  padding: 6rem 0;
}
.about h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.about h1 span {
  color: var(--primary);
}
.about h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.about p {
  font-family: "Lato", sans-serif;
  color: var(--tenary);
  line-height: 1.8;
  margin-bottom: 2rem;
}
.about .social {
  display: flex;
}
.about .social a {
  background: var(--dark);
  align-items: center;
  width: 40px;
  height: 22px;
}
.about .social a,
i {
  border-radius: 50%;
  width: 40px;
  height: 35px;
  color: var(--pure);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
}

.section-header {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
}

.section-header span {
  color: var(--primary);
}

.section-header + p {
  color: var(--tenary);
  text-align: center;
  font-family: "Lato", sans-serif;
  margin-bottom: 6rem;
}
.services {
  background: var(--light);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}

.card {
  background: var(--pure);
  padding: 3rem 2rem;
  position: relative;
  padding-top: 6rem;
  text-align: center;
}

.card img {
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.card p {
  font-family: "Lato", sans-serif;
  color: var(--tenary);
  line-height: 1.6rem;
}

.card:hover {
  background: var(--dark);
  transition: all 0.8s ease;
}
.card:hover h2 {
  color: var(--pure);
}

section.freelancer {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/apple_2-wallpaper-1920x1080.jpg);
  color: var(--pure);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 67% 80%, 0 100%);
}

section.freelancer h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
section.freelancer p {
  font-family: "Lato" sans-serif;
  margin-bottom: 2rem;
}

.slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}
.slider .slide {
  text-align: center;
  align-items: center;
  display: flex;
}
.reviews span.client {
  color: var(--primary);
}
.trade-mark {
  margin-bottom: 6rem;
}
.reviews h1,
p {
  text-align: center;
}
.client-name {
  margin-top: 2rem;
}

section.reviews .slider .slide {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  margin-bottom: 6rem;
}

section.reviews .slider-dots .dots {
  list-style-type: none;
  display: flex !important;
  justify-content: center;
}
section.reviews .slider-dots button {
  font-size: 0;
  width: 8px;
  height: 4px;
  margin-right: 0.3rem;
  border: none;
  outline: none;
  background: var(--tenary);
  border-radius: 50px;
  cursor: pointer;
}

section.reviews .dots li.slick-active button {
  background: var(--primary);
  width: 20px;
}
.section-heading {
  text-align: center;
}
.section-heading span {
  color: var(--primary);
}
section.works {
  background: var(--light);
}
.works-card img {
  width: 200px;
  height: 200px;
}
.works p {
  margin-bottom: 6rem;
}

section.works .works-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
section.works .works-card-wrapper .works-card {
  position: relative;
}
section.works .works-card-wrapper .works-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 207, 211, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.8s ease;
  color: var(--tenary);
  opacity: 0;
}
section.works .works-card-wrapper .works-card .overlay a {
  color: var(--secondary);
  text-decoration: none;
}
section.works .works-card-wrapper .works-card .overlay:hover {
  opacity: 1;
}
section.works .works-card-wrapper .works-card .overlay img {
  width: 100%;
  height: 100%;
}

section.blog {
  background: var(--dark);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 67% 90%, 0 100%);
  padding-bottom: 12rem;
}
section.blog .section-heading {
  color: var(--pure);
}

section.blog .blog_card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
section.blog .blog_card-wrapper .blog-card {
  background: var(--pure);
}
section.blog .blog_card-wrapper .blog-card .card-content {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
section.blog .blog_card-wrapper .blog-card .card-content h1 {
  font-size: 1rem;
  font-weight: 600;
}
section.blog .blog_card-wrapper .blog-card .card-content a {
  text-decoration: none;
  color: var(--secondary);
}
section.blog .blog_card-wrapper .blog-card .card-content a:hover {
  color: var(--primary);
}
section.blog .blog_card-wrapper .blog-card .card-content span {
  color: var(--tenary);
  font-size: 0.8rem;
}
section.blog .blog_card-wrapper .blog-card .card-content,
p {
  font-family: "Lato", sans-serif;
  color: var(--tenary);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section.blog .blog_card-wrapper .blog-card .img-wrapper,
img {
  width: 100%;
  height: 100%;
  align-content: center;

  object-fit: cover;
  margin-top: 1rem;
}
.blog .sub-head {
  margin-bottom: 6rem;
}
section.contact .contact-card-wrapper .contact-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 3rem;
}
section.contact .contact-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}
section.contact .contact-card-wrapper .contact-card h1 {
  font-weight: 400;
  margin-bottom: 2rem;
}
section.contact .contact-card-wrapper .contact-card h6 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
section.contact .input-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
section.contact .input-wrap2 {
  display: flex;
  flex-direction: column;
}
section.contact .input-wrap2 input {
  margin-bottom: 2rem;
}

section.contact input {
  padding: 0.5rem;
  border: 1px solid var(--light);
  font-size: 0.9rem;
}
section.contact .input-wrap2 textarea {
  padding: 0.5rem;
  border: 1px solid var(--light);
  font-size: 0.9rem;
}
section.contact input:focus {
  outline: none;
}
section.contact .input-wrap2 textarea:focus {
  outline: none;
}
section.contact .btn-wrapper {
  text-align: center;
  margin-top: 2rem;
}
footer {
  background: var(--dark);
  text-align: center;
  padding: 0 5rem;
  text-decoration: none;
}
.footer-img {
  width: 30px;
  height: 30px;
}
a {
  text-decoration: none;
  color: var(--light);
}

.site-main-wrapper {
  position: relative;
}

.hamberger {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10;
  background: none;
  border: none;
  width: 50px;
  height: 40px;
  display: none;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1001;
  background: var(--light);
  width: 50%;
  height: 50%;
  padding: 2rem;
  padding-top: 5rem;
  transform: translateX(-100%);
  transition: all 0.8s ease-in-out;
}
.open {
  transform: translateX(0);
}

.times {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  border-top: none;
  background: none;
  cursor: pointer;
  outline: none;

  height: 40px;
  color: var(--light);
}
.mobile-nav ul {
  list-style-type: none;
}
.mobile-nav ul li a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 2rem;
  justify-content: space-between;
}
a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  header #main-nav {
    display: none;
  }
  .hamberger {
    display: block;
  }

  .hero .left img {
    width: 170px;

    height: 170px;
  }
  .hero .left h6 {
    font-size: 1.6re;
  }
  .hero .left h1 {
  }
  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 27% 90%, 0 100%);
  }
  .about-image img {
    height: 150px;
    width: 150px;
  }
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  section.works .works-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  section {
    padding: 2rem 0;
  }
  section.blog .blog_card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  section.blog {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 67% 97%, 0 100%);
  }
}

@media (max-width: 576px) {
  .hero {
    flex-direction: column;
  }
  .container {
    max-width: 1200px;
  }
  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 69% 94%, 0 100%);
  }
  section {
    padding: 5rem 0;
  }
  section.contact .contact-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-card-wrapper {
    text-align: center;
  }
  section.works .works-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .works-card-wrapper {
    text-align: center;
  }
  section.freelancer {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 79% 87%, 0 100%);
  }
  section.contact .input-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
